.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 16px 16px;
}


.inner-content {
  height: 100%;
  padding: 24px;
  background: #fff;
  min-height: 360px;
  border-radius: 8px;
}

nz-footer {
  text-align: center;
}

:host > nz-layout {
  min-height: 100vh;
}

a.active {
  color: red;
  font-weight: bold;
}

